<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to 'TIYD-Rails TA Page', root_path, class:"center" %>
      </h1>
    </li>
  </ul>
</nav>

<h2 class="edit-header">Edit Profile</h2>
<%= render 'form' %>
