<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to 'TIYD-Rails TA Page', root_path, class:"center" %>
      </h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="name">
        <%= link_to 'Home', root_path, class:"center" %>
      </li>
    </ul>
  </section>
</nav>
<%= render partial: 'layouts/alert' %>
<h2 class="edit-header">Edit Profile</h2>
<%= render 'form' %>
